*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common style */
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left, bottom right;
}
/* nav design */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
}
.nav-title {
font-size: 45px;
font-weight: 800;
}
 nav ul {
    display: flex;
    align-items: center;
   
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    color: #474747 ;
    font-size: 20px;
    font-weight: 400;
}
/* banner design */
.banner {
    display: flex;
    justify-content: space-between;
}
.banner-content {
    max-width: 500px;
    margin-left: 100px;
}
.banner-content .banner-subtitle {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}
.banner-content .banner-desc {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 15px;
}
.banner-content .banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 10px;
}
.secondary-btn {
    background: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 5px;
}
.banner-img {
    width: 375px;
    margin-right: 38px;
    
}
.banner-img img {
    width: 100%;
    margin-bottom: 0;
}
